<div class="container-fluid">
  <div class="row">
    <div class="col-lg-6">
      <h4>Hirings by Skills</h4>
      <%= pie_chart Hiring.joins(:skill).group('skills.name').count %>
    </div>
    <div class="col-lg-6">
      <h4>VanHackers Hired</h4>
      <h1><%= Hiring.count %></h1>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-6">
      <h4>Hirings by Cities</h4>
      <%= pie_chart Hiring.joins(:city).group('cities.name').count %>
    </div>
    <div class="col-lg-6">
      <h4>Hirings by Year</h4>
      <%= area_chart Hiring.group(:year).count %>
    </div>
  </div>
</div>