<h1>New Hiring - Upload</h1>

<%= form_with url: :hirings_upload, local: true do |form| %>
  <label>Select CSV file for a bulk insert</label>
  <label>It must have data with the following format and header: name,city,area,skill,year</label>
  <%= form.file_field :csv_file, direct_upload: true, accept: 'text/csv', class: 'form-control' %>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>

<%= link_to 'Back', hirings_path %>
